.clients-container {
    padding: 76px 0;
    overflow: hidden;
}

.partners-container {
    padding: 76px 0;
    overflow: hidden;
}

.partners-content {
    padding: 30px 0;
    display: flex;
    align-items: center;
    width: fit-content;
    overflow: hidden;
    flex-wrap: nowrap;
}

.title {
    color: var(--font-color-4);
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

/* Shared styles */
.partners {
    display: flex;
    align-items: center;
    gap: 62px;
    padding-inline-start: 62px;
    overflow: hidden;
    width: fit-content;
}

.partner-item {
    box-sizing: border-box;
    padding: 12px;
    flex-shrink: 0;
}

.partner-image img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
}

/* Animation directions */
.ltr {
    animation: scrollLTR 20s linear infinite;
}

.rtl {
    animation: scrollRTL 20s linear infinite;
}

@keyframes scrollLTR {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scrollRTL {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
