.scheduling-container {
  padding: 76px 0;
  width: 70%;
  margin: auto;
}
.title {
  color: var(--font-heading-3);
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}
.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.select {
  width: 100%;
  border-radius: 5px;
  padding: 12px;
  background-color: #efefef;
  border: 2px solid gray;
  color: #999999;
}

.link {
  width: 100%;
  margin-top: -10px;
  margin-inline-start: 15px;
  color: #0070f3;
  text-decoration: none;
  font-size: 12px;
}

.link:hover {
  text-decoration: underline;
}
.select:hover {
  border: 2px solid black;
}
.select:focus {
  border: 2px solid #608af9;
  outline: 2px solid #608af9;
}
.p {
  color: var(--font-color-4);
  font-size: 16px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .scheduling-container {
    width: 80%;
  }
}
