:root {
  /* colors */
  --background-color: #F7F7F7;
  --background-color-50: rgba(224, 224, 224, 0.22);
  --font-color: #000000;
  --font-color-2: #676767;
  --font-color-3: #fff;
  --font-color-4: #9EA3BF;
  --font-heading-1: #1F1F1F; 
  --font-heading-3: #426A9E;
  --font-p : #262626;
  --blue-black: #1A2B56;
  --decription: #707070;
  --button-color: #EB772F;
  --button-color-hover: #FFAA00;
  --button-gradient: linear-gradient(to top, var(--button-color), var(--button-color-hover));
  --radial: radial-gradient(
    circle at center,
    rgba(219, 217, 255, 1), 
    rgba(181, 185, 255, 0.35), 
    rgba(255, 255, 255, 0) 
  );
  --linear:linear-gradient(to right, #1A2B56, #426A9E);
  
  /*border*/
  --main-border-radius: 30px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: "Sora", serif !important;
}

body {
  color: var(--font-color);
  background: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container{
  width: 80%;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    width: 90%;
  }

  @media screen and (max-width: 400px) {
    width: 95%;
  }
}
.how-it-works__layout {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 20px 0;
}
  .sidebar-content{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 100px;
   
  }
.how-it-works__sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 100px;
  z-index: 100;
}
 
.how-it-works__sidebar .icon{
  background-color: rgb(242, 247, 255);
  padding: 10px 10px 5px 10px;
  border-radius: 12px;
  transition: all .3s ease-in-out ;
}
.how-it-works__sidebar .icon.active{
  background-color: var(--blue-black) ;
}
.how-it-works__sidebar  .icon.active svg g {
  stroke: white ;
}
.how-it-works__sidebar  .icon.active svg path {
  stroke: white  ;
}
.how-it-works__sidebar  .icon.active svg.three  {
  stroke: white  ;
  fill: white  ;
}
@media (max-width: 768px) {
 
  .how-it-works__sidebar{
    display: none;
  }
}
