
.title {
    font-size: 28px;
    font-weight: bold;
    color: var(--blue-black);
    text-align: center;
    padding: 20px;
  }
  
  .subtitle {
    font-size: 16px;
    color: #666;
    margin: 10px auto;
    text-align: center;
    width: 80%

  }
  .grid {
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    padding: 20px
  }
  
  .column {
    flex: 1;
    background: #ffffff;
    border: 1px solid #DDE5ED;
  }
  .column:first-child {
     background-color: #ebf0fa;
  }
  .heading {
    font-size: 18px;
    font-weight: bold;
    padding: 20px ;
    text-align: center;
    color: #333;
    border-bottom: 1px solid #DDE5ED;
  }
  
  .list {
    list-style: none;
    text-align: left;
    padding: 20px ;
  }
  
  .list li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #444;
    margin-bottom: 20px;
  }
  
  .icon {
    font-size: 18px;
  }
  @media screen and (max-width: 900px) {
    .grid {
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      background: #f5f5f5;
      padding: 20px
    }
    .subtitle {
      font-size: 16px;
      color: #666;
      margin: 10px auto;
      text-align: center;
      width: 95%
  
    }
    
  }
  