.physical-gold-container {
  padding: 70px 0;

}

.decription {
  text-align: center;
  color: #929398;
  line-height: 38px;
}

.button {
  display: flex;
  margin: 50px auto;
  padding: 14px 30px;
  background: linear-gradient(to bottom, #112d77, #0c1c4d);
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
   
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.forex-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 50px;
}

.forex-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background: white;
  border: 1px solid #EFEFEF;
  border-radius: 10px;
  font-size: 14px;

}

@media screen and (max-width: 900px) {
  .forex-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .forex-item {
    width: 100%;

  }
}