.container {
    display: flex;
    justify-content: center;
    margin: 70px auto;
    padding: 40px;
  }
  
 
  .tableWrapper {
    width: 100%;
    max-width: 95vw;
    overflow-x: auto; 
    overflow-y: auto; 
    border-radius: 28px;
}
  

  .pricingTable {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
  }
  
  

  .pricingTable thead {
    position: sticky;
    top: 0;
    background: linear-gradient(to right, #002366, #0057b7);
    z-index: 10;
  }
  
  .pricingTable thead tr:first-child {
    color: white;
    line-height: 1.5;
  }
  
  .pricingTable th {
    padding: 32px;
    text-align: center;
    font-weight: bold;
  }
  
  .pricingTable td {
    padding: 32px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: rgb(112, 112, 112);
    font-size: 18px;
  }
  

  .pricingTable tr td:first-child {
    text-align: left;
    color: #1F1F1F;
  }
  
 
  .pricingTable tbody tr:nth-child(even) {
    background: #f9f9f9;
  }
  
  .pricingTable thead tr:first-child th:first-child {
    border-top-left-radius: 28px;
   }
   
    .pricingTable thead tr:last-child th:first-child {
    border-bottom-left-radius: 28px;
   }
   
  .pricingTable thead tr:first-child th:last-child {
    border-top-right-radius: 28px;
   } 
   
 .pricingTable thead tr:last-child th:last-child {
    border-bottom-right-radius: 28px;
   }
   
    .pricingTable tbody tr:first-child td:first-child {
    border-top-left-radius: 28px;
   }
   
    .pricingTable tbody tr:last-child td:first-child {
    border-bottom-left-radius: 28px;
   }
  
    .pricingTable tbody tr:first-child td:last-child {
    border-top-right-radius: 28px;
   }
  
 .pricingTable tbody tr:last-child td:last-child {
    border-bottom-right-radius: 28px;
   } 